<h1>Add a Game</h1>
  <form>
    <div class="form-group">
      <label>Game Title</label>
      <input type="text" class="form-control" placeholder="Game Title" ng-model="game.title" />
    </div>
    <div class="form-group">
      <label>Game Genre</label>
      <select name="genreSelector" id="genreSelector">
        <option value="FPS" name="FPS">FPS</option>
        <option value="RTS" name="RTS">RTS</option>
        <option value="RPG" name="RPG">RPG</option>
        <option value="MOBA" name="MOBA">MOBA</option>
        <option value="MMO" name="MMO">MMO</option>
        <option value="Beat'em up" name="Beat'em up">Beat'em up</option>
        <option value="Sidescroller" name="Sidescroller">Sidescroller</option>
        <option value="Top-Down Shooter" name="Top-Down Shooter">Top-Down Shooter</option>
        <option value="Third Person Shooter" name="Third Person Shooter">Third Person Shooter</option>
        <option value="Other" name="Other">Other</option>
      </select ng-model="game.genre">
    </div>
    <div class="form-group">
      <label>Co-op Player Count</label>
      <select name="coopCountSelector" id="">
        <option value="2" name="">2</option>
        <option value="3" name="">3</option>
        <option value="4" name="">4</option>
        <option value="5" name="">5</option>
      </select ng-model="game.coopCount">
    </div>
    <button class="btn btn-default" ng-click="addNewGame()">Add to List</button>
  </form>