<h1>Current Party</h1>
  <div> <!-- Party Members here -->
    <div class="">
      <div class="">{{user.username}}</div>
      <div class=""><button class="btn" ng-click="">Remove From Party</button></div>
    </div>
  </div>
    <div ng-repeat="">  <!-- game in party? -->
      <div class="">
        <div class="">
    <!-- Stretch goal here. Be able to click on title for game description/notes -->
          <div class=""><a ng-href="#">{{game.title}}</a></div>
          <div class="">{{game.genre}}</div>
          <div class="">{{game.playerCount}}</div>
          <div class=""><button class="btn" ng-click="">Edit</button></div>
        </div>
      </div>
    </div>