<h1>Game List</h1>
  <div ng-repeat="game in games">
    <div class="">
      <div class="">
<!-- Stretch goal here. Be able to click on title for game description/notes -->
        <div class=""><a ng-href="#">{{game.title}}</a></div>
        <div class="">{{game.genre}}</div>
        <div class="">{{game.playerCount}}</div>
        <div class=""><button class="btn" ng-click="gameDelete(game.id)">X</button></div>
        <div class=""><button class="btn" ng-click="gameEdit(game.id)">Edit</button></div>
      </div>
    </div>
  </div>