<nav class="navbar navbar-inverse" ng-controller="NavCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Bro Night</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" ng-show="!$parent.isLoggedIn"><a class="nav-link" ng-href="#/login">Login</a></li>
        <li class="nav-item" ng-show="!$parent.isLoggedIn"><a class="nav-link" ng-href="#/register">Register</a></li>
        <li class="nav-item" ng-show="$parent.isLoggedIn"><a class="nav-link" ng-href="#/games/list">Game List</a></li>
        <li class="nav-item" ng-show="$parent.isLoggedIn"><a class="nav-link" ng-href="#/games/new">Add Games</a></li>
        <li class="nav-item" ng-show="$parent.isLoggedIn"><a class="nav-link" ng-href="#/party/new">Create Party</a></li>
        <li class="nav-item" ng-show="$parent.isLoggedIn"><a class="nav-link" ng-href="#/party/list">Party List</a></li>
        <li ng-show="$parent.isLoggedIn"><button class="logoutBtn btn btn-warning" ng-click="logout()">Logout</button></li>
      </ul>
    </div>
  </div>
</nav>