<div class="container">
  <h1>Party List</h1>
    <div ng-repeat="party in parties | orderBy:'-title':true">
      <div class="">
        <div class="partyCard col-xs-6">
            <div><h3>{{party.title}}</h3></div>
            <div class="">{{party.description}}</div>
            <div class="">
              <button class="btn btn-success" ng-click="goToParty(party.id, party.title)" data-partyid="{{party.id}}">View Party</button>
              <button class="btn btn-danger" ng-click="partyDelete(party.id)">Delete</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>