<h2>{{currentPartyTitle}}</h2>
  <div ng-repeat="user in members.username"> <!-- Party Members here | ng repeat="user in party?"-->
    <div class="">{{user.username}}</div>
    <!-- <div class=""><button class="btn" >Remove From Party</button></div> -->
  </div>
    <div class="partyGameCard" ng-repeat="game in theFinalArray">
      <div class="">
        <div class="">
    <!-- Stretch goal here. Be able to click on title for game description/notes -->
    <!-- Game information from users in group populates here -->
          <div class="">{{game}}</div> <!-- ng-href="#" -->
          <!-- <div class="">{{game.genre}}</div>
          <div class="">{{game.coopCount}} Player Co-op</div> -->
          <!-- <div class=""><button class="btn" >Edit</button></div>   --><!-- ng-click="" -->
        </div>
      </div>
    </div>

    <div><button class="btn" ng-click="randomGame()">Random Game</button></div>


    <!-- Broseidon: God of the Brocean has decreed:
          You shall play {{Random Game}} this eve -->