<h1>Current Party</h1>
  <div ng-repeat="user in party"> <!-- Party Members here | ng repeat="user in party?"-->
    <div class="">{{user.username}}</div>
    <div class=""><button class="btn" >Remove From Party</button></div> <!-- ng-click="" -->
  </div>
    <div>  <!-- ng-repeat="" game in party? -->
      <div class="">
        <div class="">
    <!-- Stretch goal here. Be able to click on title for game description/notes -->
          <div class=""><a >{{game.title}}</a></div> <!-- ng-href="#" -->
          <div class="">{{game.genre}}</div>
          <div class="">{{game.playerCount}}</div>
          <div class=""><button class="btn" >Edit</button></div>  <!-- ng-click="" -->
        </div>
      </div>
    </div>


    <!-- Broseidon: God of the Brocean has decreed:
          You shall play {{Random Game}} this eve -->