<div class="container">
  <h1>{{currentPartyTitle}}</h1>
    <div ng-repeat="user in members.username">
      <div class="">{{user.username}}</div>
    </div>
      <div class="" ng-repeat="game in theFinalArray | orderBy:'-title': true">
        <div class="">
          <div class="">
      <!-- Game information from users in group populates here -->
            <div class="gameCard">{{game.title}} | Genre: {{game.genre}} | {{game.coopCount}} Player Co-op</div>
          </div>
        </div>
      </div>
      <div class="decisionWrap">
        <h4>Not sure what you want to play?</h4>
        <button class="btn btn-primary" ng-click="randomGame()">Ask Broseidon</button>
      </div>
</div>
