<!-- Not in use atm -->

<h1>Make a Party</h1>
  <div class="" ng-repeat="user in users | orderBy:'-username':true">
    <div class="">{{user.username}}  <button class="btn" ng-click="addUserToParty(user)">Add to Party</button><button class="btn" ng-click="removeUserFromParty(user)">Remove From Party</button></div>
    <!-- I would like to have a toggle here for the button "in party/not in party" -->
    <div class=""></div>
  </div>

  <!-- Instead of posting to firebase, button should add users to temp array THEN another button to create a party -->
  <!-- Check boxes next to usernames -->